/* base.css [https://github.com/noamr/velvette-codrops/blob/with-velvette/css/base.css] */
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	font-weight: bold;
	--color-text: #464757;
	--color-bg: #000;
	--color-link: #6b6d84;
	--color-link-hover: #fff;
	--page-padding: 1.5rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  /* NOTE: !important is added to override the RootLayout color scheme. */
	color: var(--color-text) !important;
	background-color: var(--color-bg) !important;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

.item a:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	padding: var(--page-padding);
	position: relative;
	display: grid;
	z-index: 1000;
	width: 100%;
	height: 100%;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	pointer-events: none;
	justify-items: start;
	grid-template-columns: auto auto;
	grid-template-areas: 'title' 'prev' 'back' 'sub' 'sponsor' 'demos';
}

.frame #cdawrap {
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__prev {
  grid-area: prev;
  justify-self: start;
}

.frame__sub {
  grid-area: sub;
}

.frame__demos {
	grid-area: demos;
	display: flex;
	gap: 1rem;
}

.content {
	padding: var(--page-padding);
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
}

@media screen and (min-width: 53em) {
	body {
		--page-padding: 2rem 3rem;
	}
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-rows: auto auto;
		align-content: space-between;
		grid-template-areas: 'title back prev sub sponsor';
	}
	.frame #cdawrap, .frame__sub {
		justify-self: end;
		max-width: 200px;
		text-align: right;
	}
	.content {
		min-height: 100vh;
		justify-content: center;
		align-items: center;
	}
}

/* app.css [https://github.com/noamr/velvette-codrops/blob/with-velvette/css/app.css] */

.content {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: flex-start;
}

:root.details section#list {
  display: none;
}
:root:not(.details) section#details {
  display: none;
}

#genre_sorter, 
#sorter {
  /* margin: 1rem auto 3rem; */
  text-align: center;
  padding: 0.85rem 1.5rem;
  background: black;
  width: max-content;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  line-height: 1.5;
}

#genre_sorter label,
#sorter label {
  position: relative;
  border: 1px solid rgb(103 105 127 / 43%);
  padding: 0 0.85rem;
  border-radius: 1rem;
}

#genre_sorter label input,
#sorter label input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#genre_sorter label input:checked + span,
#sorter label input:checked + span {
  color: #fff;
}

section#list {
  ul {
      li {
          display: flex;
          list-style: none;
          border: 1px solid rgb(103 105 127 / 43%);
          border-radius: 4px;
          a {
              display: flex;
              flex-direction: column;
              align-items: center;
              max-width: 200px;
              text-overflow: ellipsis;
              text-align: center;
              text-decoration: none;
          }
      }
      padding: 0;
      width: 80vw;
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      gap: clamp(1rem,4vw,2rem);
      justify-content: center;
  }
}

section#details {
  height: max-content;
  a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
  }
  img#hero {
    box-shadow: 0px 0px 24px 12px #a3012155;
  }
}

#hero {
  aspect-ratio: 2/3;
  border-radius: 4px;
}

.thumb {
  aspect-ratio: 2/3;
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}

.title {
  font-weight: bold;
  padding: 0.85rem 0.5rem;
  margin: auto;
}

.title--single {
  font-size: 1.5rem;
  padding: 2rem 1rem;
  max-width: 400px;
  text-align: center;
}

#details .overview {
  max-width: 50ch;
  font-size: 1.4rem;
  font-weight: 400;
}

li.item {
  transition: all 300ms linear;
}
li.item:hover {
  box-shadow: 0px 0px 24px #55ff55dd;
  border: 1px solid #55ff55aa;
}